@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@200;400;600;800&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    text-align: justify;
}
/*  Empieza el header */

header{
    background-color: #ffff;
    height: 150px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* CONTENEDOR DEL LOGO DE LA ORG. */

.logocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* LOGO DE LA ORGANIZACION */
.logo{
    width: 75px;
    cursor: pointer;
}

.lugar:hover{
    border-bottom: solid 2px #6F4380;
    font-size: 17px;
}
/* BOTON DE CONTACTAR Y DE SOLICITUD DE FORMULARIO */
button {
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}


.contacto{
    background: linear-gradient(90deg, rgba(59,12,94,1) 0%, rgba(112,68,129,1) 100%, rgba(9,9,121,1) 100%);
    color: #ffff;
    cursor: pointer;
}

.contacto:active{
    background: #ceb8d6;
}


/* CONTENEDOR DE LA NAVBAR.  */
.navbar{
    padding:0px 30px;
    width: 100%;
}

/* CONTENEDOR UL. */
.navlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 70px;
    margin: 0;
}


.navlinks li{
    list-style: none;
}

.navlinks a{
    text-decoration: none;
    color: grey;
}


/* Empieza el main del index*/
main{
    background-color: #F6F3EE;
}

/* primer contenedor del main de index */

.container{
    padding: 40px 20px;
}


.container .container__index{
    background-image: url(../img/IZQUIERDA11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.container__index__principal{

    background-color: #ffffff73;
    height:auto;
    box-shadow: 5px 10px 20px 1px #f0f0f0;
}


.container__index h1{
    font-size: 65px;
    text-align: center;
    padding-top: 20px;
}
.container__index .psicologia{
    color: #6F4380;
    font-size: 65px;
}

.container__index p{
    padding: 40px 20px;
    line-height: 30px;
}

/* segundo contenedor del index */

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .diferencias{
    border-radius: 10px;
    padding: 20px 35px;
    box-shadow: 0px 0px 10px 10px #6F4380;
}

.diferencias__logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.diferencias__logo img{
    width: 70px;
    height: auto;
}

.diferencias h3{
color:#6F4380;
text-align: center;
padding: 15px;
}

.diferencias p{
    line-height: 20px;
}



/* PREGUNTAS FRECUENTES */


.preguntas h4{
    text-align: center;
    color:#6F4380;
    padding: 50px;
    font-size: 35px;
}

summary{
margin: 10px;
}

details{
    border-bottom: solid 1px #6F4380;
    margin: 10px 100px;
}



/* banner de art de interes y terapia online */







.banner{

    background: linear-gradient(90deg, rgba(59,12,94,1) 0%, rgba(112,68,129,1) 100%, rgba(9,9,121,1) 100%);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner h1{
    color: #ffff;
    font-size: 60px;
    text-align: center;
}




/* SECCION DEL FOOTER */

footer{
    background-color: #474A57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    padding: 10px 30px;
    
}


footer a{
text-decoration: none;
color: #Ffff
}

/* Contenedor del copyright */
footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright p{
    margin: 0;
    color: #ffff;

}

/* CONTENEDOR DE LOS ICONOS DE LAS REDES SOCIALES DEL FOOTER */

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
}


.social-links li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px;
    height: 50px;
    width: 50px;
}

.social-links li:hover{
    background-color: #6F4380;
    border-radius: 25px;
    transition: 0.4s;
}

.social-links i:hover{
    font-size: 25px;
    transition: 0.4s;
}






/* TERAPIA ONLINE. ARTICULOS */

.container h3{
    text-align: center;
    color:#6F4380
}



/* ART. DE INTERES. VIDEOS */

.card-title{
    text-align: center;
    color: #6F4380;
}








/* SECTOR CONTACTO */


/* contenedor del formulario */

.contenedoor{
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

/* parte del formulario */
.contenedoor .leandro{
    background-color: #FFFF;
    border-radius: 15px;
    padding: 10px;
    height: 700px;
    width: 400px;   
    box-shadow: 0px 0px 15px 5px #999;
}

.referencia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leandro h1{
    text-align: center;
    color:#6F4380
}

.datos{
display: flex;
justify-content: center;
align-items: center;
}

.valor{
    margin: 20px 10px;
    height: 35px;
    width: 350px;
    border: none;
    border-bottom: solid 1px #6F4380
}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mensaje textarea{
    width: 350px;
    height: 130px;
}

.datos .contacto{
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px
}


.container-fluid{
    background: linear-gradient(90deg, rgba(59,12,94,1) 0%, rgba(112,68,129,1) 100%, rgba(9,9,121,1) 100%);
    height: 150px;
    padding: 20px 40px;

}


.subcontainer{
    background: linear-gradient(90deg, rgba(59,12,94,1) 0%, rgba(112,68,129,1) 100%, rgba(9,9,121,1) 100%);
    height: 100px;
    padding: 20px 100px;
}

.container-fluid h4{
    color: #ffff;
}

.container-fluid p{
    color:#ffff
}


.container-fluid a{
    text-decoration: none;
    color: #ffff;
    border-bottom: solid 1px;
}



/* RESPONSIVE CELULAR */

@media (max-width:480px){

/* BARRA DE NAVEGACION MOBILE */

.navbar{
    display: block;
    padding: 0;
}

.navlinks{
    gap: 7px;
    padding: 0;
    height: 50px;
}

.navlinks a{
    font-size: 10px;
}

header .logocontainer{
    padding-top: 15px;
}

/* footer mobiLe */
footer{
   flex-direction: column;
   flex-wrap: nowrap;
}


/* seccion art. de interes. */

/* carta en bootstrap tiene una position relative. */
.card{
    position: static;
}

details{
    margin: 0;
}
}