@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@200;400;600;800&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  text-align: justify;
}

h2 {
  color: #6F4380;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logocontainer .logo {
  width: 75px;
  cursor: pointer;
}
header .navbar {
  padding: 0px 30px;
  width: 100%;
}
header .navbar .nav-link {
  color: black;
  transition: all 0.05s;
}
header .navbar .nav-link:hover {
  border-bottom: solid 2px #6F4380;
}
header .navbar .nav-link button {
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient(90deg, rgb(59, 12, 94) 0%, rgb(112, 68, 129) 100%, rgb(9, 9, 121) 100%);
  color: white;
  cursor: pointer;
}

footer {
  background-color: #474A57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  padding: 10px 30px;
}
footer .logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logocontainer .logo {
  width: 75px;
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright P {
  margin: 0;
  color: white;
}
footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
}
footer .social-links ul li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 5px;
  height: 50px;
  width: 50px;
  transition: 0.45s;
}
footer .social-links ul li:hover {
  background-color: #6F4380;
  border-radius: 25px;
}

main {
  background-color: #F6F3EE;
}

/* INDEX */
.container__index {
  background-image: url(../img/IZQUIERDA11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__index article {
  background-color: rgba(52, 58, 64, 0.6);
}
.container__index article h1 {
  color: white;
  font-size: 65px;
  text-align: center;
  padding-top: 20px;
}
.container__index article h1 strong {
  color: #6F4380;
  font-size: 65px;
}
.container__index article p {
  color: white;
  padding: 30px 20px;
  line-height: 30px;
}
.container__index article p strong {
  font-style: oblique;
}

.container.diferencias h2 {
  text-align: center;
  color: #6F4380;
}
.container.diferencias article {
  border-radius: 10px;
  padding: 20px 35px;
  box-shadow: 0px 0px 10px 10px #6F4380;
  margin-bottom: 35px;
}
.container.diferencias article img {
  width: 70px;
  height: auto;
}
.container.diferencias article h3 {
  text-align: center;
  color: #6F4380;
}

.preguntas h2 {
  text-align: center;
  color: #6F4380;
}
.preguntas summary {
  margin: 10px;
}
.preguntas details {
  border-bottom: solid 1px #6F4380;
}

/* SOBRE MI */
.banner {
  background: linear-gradient(90deg, rgb(59, 12, 94) 0%, rgb(112, 68, 129) 100%, rgb(9, 9, 121) 100%);
  padding: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  color: white;
  font-size: 65px;
  text-align: center;
}

.figure img {
  border-radius: 50%;
  width: 100%;
}

.container.sobremi h2 {
  color: #6F4380;
  text-align: start;
}

/* TERAPIA ONLINE */
.container.terapiaonline h2 {
  text-align: center;
  color: #6F4380;
}
.container.terapiaonline h3 {
  text-align: center;
  color: #6F4380;
}

/* ARTICULOS DE INTERES */
.card-title {
  text-align: center;
  color: #6F4380;
}

/* CONTACTO */
.container__contacto {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.container__contacto .contacto__form {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px #999;
}
.container__contacto .contacto__form h3 {
  text-align: center;
  color: #6F4380;
}
.container__contacto .contacto__form .datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__contacto .contacto__form .datos input {
  margin: 20px 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: solid 1px #6F4380;
}
.container__contacto .contacto__form .datos .contacto {
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(59, 12, 94) 0%, rgb(112, 68, 129) 100%, rgb(9, 9, 121) 100%);
  color: white;
  text-align: center;
  width: 40%;
  cursor: pointer;
  transition: all 0.35s;
}
.container__contacto .contacto__form .datos .contacto:hover {
  transform: scale(1.05);
}
.container__contacto .contacto__form .mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container__contacto .contacto__form .mensaje textarea {
  width: 330px;
  height: 130px;
}

.container-fluid-custom {
  background: linear-gradient(90deg, rgb(59, 12, 94) 0%, rgb(112, 68, 129) 100%, rgb(9, 9, 121) 100%);
  padding: 40px;
}
.container-fluid-custom h4 {
  color: white;
}
.container-fluid-custom p {
  color: white;
}
.container-fluid-custom a {
  text-decoration: none;
  color: white;
  border-bottom: solid 1px;
}

@media (max-width: 480px) {
  p {
    font-size: 13px;
  }
  /* INDEX - PRIMER CONTEDOR */
  .container__index article h1 {
    font-size: 50px;
  }
  .container__index article h1 .psicologia {
    font-size: 50px;
  }
  .container__index article p {
    padding: 20px;
    line-height: 25px;
  }
  /*     .container__index article h1{
          font-size: 40px;
      }

      .container__index article .psicologia{
          font-size: 40px;
      } */
  /* .container__index p{
      padding: 10px 20px;
      line-height: 25px;
  }
   */
  /* INDEX - DIFERENCIAS */
  .container .diferencias {
    padding: 20px 20px;
  }
  /* INDEX - PREGUNTAS FRECUENTES */
  .preguntas h3 {
    font-size: 25px;
    padding: 25px;
  }
  /* FOOTER MOBILE */
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* ART. DE INTERES MOBILE*/
  /* carta en bootstrap tiene una position relative. */
  .card {
    position: static;
  }
  details {
    margin: 0;
  }
  /* BANNER MOBILE*/
  .banner {
    height: 100px;
  }
  .banner h1 {
    font-size: 40px;
  }
  .container.container.sobremi h2 {
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
