@media (max-width:480px){
    p{
        font-size: 13px;
    }
    
    /* HEADER MOBILE */
    header .logocontainer{
            padding-top: 15px;
        }
        
    
    /* HEADER - BARRA DE NAVEGACION */
    
    .navbar{
        display: block;
        padding: 0;
    }
    
    .navlinks{
        gap: 7px;
        padding: 0;
        height: 50px;
    }
    
    .navlinks a{
        font-size: 10px;
    }
    
    /* INDEX - PRIMER CONTEDOR */
    
    
    .container__index h1{
        font-size: 40px;
    }
    
    .container__index .psicologia{
        font-size: 40px;
    }
    
    .container__index p{
        padding: 20px 20px;
        line-height: 25px;
    }
    
    
    /* INDEX - DIFERENCIAS */
    
    .container .diferencias{
        padding: 20px 20px;
    }
    
    
    
    /* INDEX - PREGUNTAS FRECUENTES */
    
    .preguntas h3{
        font-size: 25px;
        padding: 25px;
    }
    
    
    /* FOOTER MOBILE */
    footer{
       flex-direction: column;
       flex-wrap: nowrap;
    }
    
    
    /* ART. DE INTERES MOBILE*/
    
    /* carta en bootstrap tiene una position relative. */
    .card{
        position: static;
    }
    
    details{
        margin: 0;
    }
    
    
    /* BANNER MOBILE*/
    .banner{
        height: 100px;
    }
    
    .banner h1{
        font-size: 40px;
    }
    
    
    /* SOBRE MI MOBILE*/
    /* contenedor de foto y texto */
    
    .container__sobremi{
        display: block;
    }
    
    .sobremi__perfil{
        width: 100%;
    }
    
    .sobremi__texto{
        width: 100%;
    }
    
    .container .titulo{
        text-align: center;
    }
    
    }