@media (max-width:480px){
/*     p{
        font-size: 13px;
    } */

    /* INDEX - PRIMER CONTEDOR */
    
    .container__index{

        article{
            h1{
                font-size: 50px;
                strong{
                    font-size: 50px;
                }
            } 
            p{
                padding: 20px;
                line-height: 25px ;
            }       
        }
    }

    
    /* INDEX - DIFERENCIAS */
    
    .container .diferencias{
        padding: 20px 20px;
    }
    
    
    
    /* INDEX - PREGUNTAS FRECUENTES */
    
    .preguntas h3{
        font-size: 25px;
        padding: 25px;
    }
    
    
    /* FOOTER MOBILE */
    footer{
       flex-direction: column;
       flex-wrap: nowrap;
    }
    
    
    /* ART. DE INTERES MOBILE*/
    
    /* carta en bootstrap tiene una position relative. */
    .card{
        position: static;
    }
    
    details{
        margin: 0;
    }
    
    
    /* BANNER MOBILE*/
    .banner{
        height: 100px;
    }
    
    .banner h1{
        font-size: 40px;
    }
    
    .container.container.sobremi h2{
        text-align: center;
    }
    
    }